@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #9ef8ee;
  --secondary: #32a89c;
  margin: 0px;
  padding: 0px;
}

@theme {
  --animate-scaling: 0.3s ease-in-out;

  @keyframes wiggle {
    100% {
      scale: 1.1;
    }
  }
}

button:focus,
button:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

body[data-theme='light'] {
  --background: #f4f;
  --bg-color: #fff;
  --text-color: #000;
}

body[data-theme='dark'] {
  --bg-color: #000;
  --text-color: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
