@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  margin: 0px;
  padding: 0px;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-noto: var(--font-noto-sans);
}

@theme {
  --animate-scaling: 0.3s ease-in-out;
  --color-surface-light: #c1aa8e;
  --color-surface-light-1: #d9cfc7;
  --color-surface-light-2: #efe9e3;
  --color-surface-light-3: #f9f8f6;

  --color-surface-dark: #222831;
  --color-surface-dark-1: #393e46;
  --color-surface-dark-2: #44444e;
  --color-surface-dark-3: #d3dad9;
  @keyframes wiggle {
    100% {
      scale: 1.1;
    }
  }
}

button:focus,
button:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

body[data-theme='light'] {
  --bg-color: #fff;
  --text-color: #000;
}

body[data-theme='dark'] {
  --bg-color: #000;
  --text-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
